<div class="main-header">
    <span>{{title}}</span> &nbsp;
     @if(showDDLsClientPolicies){        
        <div class="">
            <select name="" id="">
                <option *ngFor="let option of dropdownOptions">{{option.eng_Full}}</option>
            </select> &nbsp;
            
                <input type="checkbox"> &nbsp;

                <span>Active Only</span> &nbsp;
            
            <i class="bi bi-search"></i> &nbsp;
        </div>
        <div class=""></div>        
        <div>
            <span>Policy No <span>(ABC/123)</span></span> &nbsp;

            <input type="text" [(ngModel)]="searchText"> &nbsp;
            <i class="bi bi-search" (click)="filterPolicies()"></i> &nbsp;
        </div>
        <div class=""></div>     
        <div class=""></div>     
    }

    @if(showDDLsGRTPolicies){
        <div>
            <span>Show By</span> &nbsp;
            <select name="" id="">
                <option value=""></option>
            </select> &nbsp;
        </div>
        <div>
            <span>Find By</span> &nbsp;
            <select>
                <option value=""></option>
            </select>
        </div>
        <div>
            <input type="text"> &nbsp;
            <i class="bi bi-search"></i> &nbsp;
        </div>
        <div>
            <span>Details</span> &nbsp;
            <select name="" id="">
                <option value=""></option>
            </select> &nbsp;

            <input type="button" value="GO>"> &nbsp;
        </div>
        <div>
            <select name="" id="">
                <option value=""></option>
            </select> &nbsp;
            <input type="button" value="Click"> &nbsp;
        </div>
    }

    @if(showDDLsPolicyDetails){
        <div>
            <select name="" id="">
                <option *ngFor="let option of codes" [value]="option.code">{{option.eng_Full}}</option>
            </select>
            
                <button><i class="bi bi-arrow-right"></i></button>
        </div>
    }

</div>