<div class="blue-line">
    <div class="top-header">
        <div class="icons-top-header">
            @if(isRegister == true){
                <i class="bi bi-arrow-left-square" (click)="historyMinus1()"></i>
                <i class="bi bi-cart3"></i>
            }@else{
            <i class="bi bi-house-door"></i>
            @if (showArrow == true) {
                <i class="bi bi-arrow-left-square" (click)="historyMinus1()"></i>
            }
            <i class="bi bi-cart3"></i>
            <i class="bi bi-person-fill">
                <span class="role-section"> Role: </span><span class="role role-entry">{{role}}</span>
            </i>
        }
        </div>
        @if(isRegister == false){
        <div class="user-pin-section">
            <div class="user-section" style="color: white">User: <span>{{username}}</span></div>
            <div style="color: white">Pin: <span>{{pin}}</span></div>
        </div>
        <div><i class="bi bi-power" (click)="onLogout()"></i></div>  
    }
    </div>
</div>





  

  

  




  