<div class="policies">
<table>
  <thead>
    <tr>
      <th class="grid-header-column grid-header"></th>
      <th class="grid-header-column grid-header"></th>
      <!-- Header Row -->
      <th class="grid-item grid-header" *ngFor="let header of headers">
        {{ header }}
      </th>
    </tr>
  </thead>
  <tbody>
    <!-- Data Rows -->
  <tr *ngFor="let policy of policies" class="grid-row">
    <td class="grid-item"><i class="bi bi-file-earmark" (click)="getClientPolicies(policy)"></i></td>
    <td class="grid-item"><i class="bi bi-envelope-open"></i></td>
    <td class="grid-item">{{ policy.policyNo }}</td>
    <td class="grid-item">{{ policy.holderName }}</td>
    <td class="grid-item">{{ policy.inception | date:'dd/MM/yyyy'}}</td>
    <td class="grid-item">{{ policy.expiry | date:'dd/MM/yyyy'}}</td>
    <td class="grid-item">{{ policy.status_Code }}</td>
    <td class="grid-item">{{ policy.cur_Code }}</td>
    <td class="grid-item">{{ policy.total_Premium | number: '0.2' }}</td>
    <td class="grid-item">{{ policy.pay_Frq }}</td>
  </tr>
  </tbody>
</table>
</div>




