<app-header></app-header>

<div class="blue-line">
    <div class="icons-top-header">
        <i class="bi bi-house-door"></i>
        <i class="bi bi-cart3"></i>        
        <i class="bi bi-person-fill">
            <span> Role: <span></span></span>
        </i>
    </div>
</div>

<br>

<div>
    <h5>My Information</h5>
    <!-- buttons -->
</div>

<div>
    <span>Kindly Press my profile to complete your KYC</span>
</div>

<hr>

<div>
    <div>
        <span>Name</span>
        <input type="text">
        <span>Date Of Birth</span>
        <input type="text">
        <span>Marital Status</span>
        <input type="text">
    </div>

    <div>
        <span>Contact Address</span>
        <input type="text">  
    </div>
</div>

<div>
    <h5>My Policies</h5>
    <select><option></option></select>
    <input type="checkbox">
    <span>Active only</span>
    <i class="bi bi-search">Search Icon</i>
    <span>Policy No</span><span>(ABC/123)</span>
    <input type="text">
    <i class="bi bi-search">Search Icon</i>
</div>

<hr>

<div>
    <table>
        <thead>
            <th></th>
        </thead>
        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>