<!-- Parent container for the footer -->
<div class="footer-container">

    <!-- Footer Text on the left -->
    <div class="footer-text">
        <span>{{this.CompanyNameAndAddress}} | COPYRIGHT © 2019 {{this.CompanyName}} ALL RIGHTS RESERVED</span>
    </div>
    
    <div class="social-media-icons">
        <a [href]="this.CompanyFacebook"><i class="bi bi-facebook"></i></a> 
        <a [href]="this.CompanyLinkedIn"><i class="bi bi-linkedin"></i></a>
        <a [href]="this.CompanyInstragram"><i class="bi bi-instagram"></i></a>
        <a [href]="this.CompanyYoutube"><i class="bi bi-youtube"></i></a>
    </div>

</div>