<app-header></app-header>

<div class="blue-line">
    <div class="top-header">
        <div class="icons-top-header">
            <i class="bi bi-house-door"></i>
            <i class="bi bi-cart3"></i>
            <i class="bi bi-person-fill">
                <span class="role-section"> Role: </span><span class="role role-entry">{{role}}</span>
            </i>
        </div>
        <div class="user-pin-section">
            <div class="user-section" style="color: white">User: <span>{{username}}</span></div>
            <div style="color: white">Pin: <span>{{pin}}</span></div>
        </div>
        <div><i class="bi bi-power" (click)="onLogout()"></i></div>
    </div>
</div>

<br>

<div>
    <h5>My Information</h5>
    <!-- buttons -->
</div>

<div>
    <span>Kindly Press my profile to complete your KYC</span>
</div>

<hr style="margin-bottom:10px;">

<div class="flex main-client-info">
    <div class="flex-row">
        <div class="client-info">
            <div class="blue-flexboxes">
                <span class="blue-container">Name</span>
                <span>{{username}}</span>
            </div>
            <div class="flex blue-flexboxes">
                <span class="blue-container">Date Of Birth</span>
                <span>{{dateOfBirth}}</span>
            </div>
            <div class="blue-flexboxes">
                <span class="blue-container">Marital Status</span>
                <span>{{maritalStatus}}</span>
            </div>
        </div>
    </div>
    <div class="client-address">
        <span class="blue-container">Contact Address</span>
        <span class="address-span" *ngIf="address" [innerHTML]="address">{{address}}</span>
    </div>
</div>
<br>
<app-dropdown-client-info (policiesFiltered)="updatePolicies($event)"></app-dropdown-client-info>

<hr style="margin-top: 5px;">

<app-client-policies [policies]="filteredPolicies"></app-client-policies>
