<div>
    <h5>My Information</h5>
    <!-- buttons -->
</div>

<hr style="margin-bottom:10px;">

<div class="flex main-policy-info">
    <div class="flex-row">
        <div class="policy-info">
            <div class="blue-flexboxes">
                <span class="blue-container">Policy No.</span>                
            </div>
            <div class="flex blue-flexboxes">
                <span class="blue-container">Policy Holder</span>
            </div>
            <div class="blue-flexboxes">
                <span class="blue-container">Sales Consultant</span>
            </div>
            <div class="blue-flexboxes">
                <span class="blue-container">Policy Status</span>
            </div>
        </div>
    </div>
    <div class="policy-info2">
        <div class="blue-flexboxes">
            <span class="blue-container">Inception Date</span>                
        </div>
        <div class="flex blue-flexboxes">
            <span class="blue-container">Expiry Date</span>
        </div>
        <div class="blue-flexboxes">
            <span class="blue-container">Currency</span>
        </div>
        <div class="blue-flexboxes">
            <span class="blue-container">Payment</span>
        </div>
    </div>
</div>
<br>
