<div>
    <h5>Policy Information</h5>
    <!-- buttons -->
</div>

<hr style="margin-bottom:10px;">

<div class="flex main-policy-info">
    <div class="flex-row">
        <div class="policy-info">
            <div class="blue-flexboxes">
                <span class="blue-container">Policy No.</span>
                <span>{{policyNo}}</span>
            </div>
            <div class="flex blue-flexboxes">
                <span class="blue-container">Policy Holder</span>
                <span>{{holderName}}</span>
            </div>
            <div class="blue-flexboxes">
                <span class="blue-container">Sales Consultant</span>
                <span>{{agtCode}}</span>
            </div>
            <div class="blue-flexboxes">
                <span class="blue-container">Policy Status</span>
                <span>{{policyStatus}}</span>
            </div>
        </div>
    </div>
    <div class="policy-info2">
        <div class="blue-flexboxes">
            <span class="blue-container">Inception Date</span>
            <span>{{inceptionDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="flex blue-flexboxes">
            <span class="blue-container">Expiry Date</span>
            <span>{{expiryDate | date:'dd/MM/yyyy'}}</span>
        </div>
        <div class="blue-flexboxes">
            <span class="blue-container">Currency</span>
            <span>{{currency}}</span>
        </div>
        <div class="blue-flexboxes">
            <span class="blue-container">Payment</span>
            <span>{{payment}}</span>
        </div>
    </div>
</div>
<br>