.blue-line {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  background-color: #49648c;
  height: 40px;
}

.icons-top-header {
  display: flex;
  align-items: center;
  margin-left: 15px;
}

.bi {
  color: white;
  font-size: 1.6em;
  margin-right: 20px;
  cursor: pointer;
}

.identification-section h5 {
  margin-bottom: 10px;
}

.form-rows-container {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 100px;
  background-color: #f2f2f2;
}

.form-column {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.form-row {
  display: grid;
  grid-template-columns: 200px 300px 200px;
  background-color: #ffffff;
  gap:2px;
  align-items: center;
}
.qa-container{
  display: block;
  gap:0;
}
.qa-column{
  gap:6px;
}

.qa{
  grid-template-columns: 200px auto;
}

.validationset{
  background-color: #f2f2f2;
}

.inputLabel {
  background-color: #cfe9ee;
  padding: 5px;
  font-weight: 500;
  width: calc(100% - 10px);
}

.form-row input[type="text"],
.form-row select {
  padding: 5px;
}

.date-inputs {
  display: flex;
  gap: 5px;
}

.date-input {
  width: 60px;
}

.form-row span {
  display: inline-block;
  max-width: 300px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.inputBtn {
  height: 35px;
  border-radius: 6px;
  width: 100%;
}

.btnRegister {
  background-color: #49648c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid #49648c;
  cursor: pointer;
}

.btnRegister:hover {
  background-color: white;
  color: #49648c;
}

.btnCancel {
  background-color: #8a679c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin-left: 10px;
  border: 2px solid #8a679c;
  cursor: pointer;
}

.btnCancel:hover {
  background-color: white;
  color: #8a679c;
}

.btnSubmitCancel {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  padding: 10px;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Remove spinner from Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
