<app-header></app-header>
<app-header-blue-line></app-header-blue-line>

<div class="identification-section">
    <h5>My Identification</h5>
    <hr>
    <div class="form-rows-container">
        <div class="form-column">
            <div class="form-row">
                <label class="inputLabel">User ID *</label>
                    <input class="inputBtn" type="text">
                
            </div>
            <div class="form-row">
                <label class="inputLabel" tabindex="0" data-bs-toggle="tooltip" data-bs-placement='auto' >Policy No *</label>
                    <input class="inputBtn" type="text">
                    <span>(ABC/123456)</span>
                
            </div>
            <div class="form-row">
                <label class="inputLabel">Expiry Date *</label>
                    <div class="date-inputs">
                    <input class="date-input" type="number" placeholder="Day"> /
                    <input class="date-input" type="number" placeholder="Mon"> /
                    <input class="date-input" type="number" placeholder="Year">
                </div>
                <span>(dd/mm/yyyy)</span>
            </div>
        </div>
        <div class="form-column">
            <div class="form-row">
                <label class="inputLabel">PIN *</label>
                <input class="inputBtn" type="text">
            </div>
            <div class="form-row">
                <label class="inputLabel">Email *</label>
                <input class="inputBtn" type="text">
            </div>
            <div class="form-row">
                <label class="inputLabel">Mobile *</label>
                <input class="inputBtn" type="number" pattern="00961[0-9]{8}">
                <span>(+/00961xxxxxxxx)</span>
            </div>
        </div>
    </div>
</div>
<br>
<div>
    <h5>Validation Set</h5>
    <hr>
    <div class="validationset">
        <div class="form-rows-container qa-container">
        <div class="form-column qa-column">
            <div class="form-row qa">
                <label class="inputLabel">Question *</label>
                <select class="inputBtn" name="" id=""></select>
            </div>
            <div class="form-row qa">
                <label class="inputLabel">Answer *</label>
                <input class="inputBtn" type="text">
            </div>
        </div>
    </div>
    <div class="btnSubmitCancel">
        <input class="btnRegister" type="button" value="REGISTER">
        <input class="btnCancel" type="button" (click) = "HistoryMinus1()" value="CANCEL">
    </div>
    </div>
</div>

  